config:
  aws:region: eu-west-1
  pulumi:data:
    active: true
    tg_remote_network: demo_network
    vpc_name: demo_vpc
    vpc_cidr: 10.0.0.0/16
    prv_subnet_name: demo_private_subnet
    pub_subnet_name: demo_public_subnet
    prv_cidr: 10.0.1.0/24
    pub_cidr: 10.0.2.0/24
    eip_name: demo_eip
    igw_name: demo_igw
    natgw_name: demo_ngw
    pubrttable_name: demo_pubrttable
    prvrttable_name: demo_prvrttable
    pubrtasst_name: demo_pub_rt_asst
    prvrtasst_name: demo_prv_rt_asst
    sec_grp_name: demo_sec_grp
    key_name: demo_key
    ec2_type: t2.micro
    connectors: 2